# Java
backend/target/
backend/.idea/
*.class
*.jar
*.war

# Node
frontend/node_modules/
frontend/dist/
frontend/.angular/

# Environment
.env
*.env.local

# OS
.DS_Store
Thumbs.db

# Docker
*.log
minikube-linux-amd64
*.amd64
minikube-linux-amd64
